.singleFilter {
    border: black solid 3px !important;
    border-radius: 0 !important;
    width: 100% !important;
    padding: 1px 0 1px 6px !important;
    font-size: 1rem;
    background-color: white !important;
    select{
        background-color: white !important;
        
        option {
            background-color: white !important;
            font-size: 0.9rem;
        }

    }
}

select{
    background-color: white !important;
    
    option {
        background-color: white !important;
        font-size: 0.9rem;
    }

}

.form-select {
    background-position: right 0.2rem center !important;
}

.mainProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mainContainer {
        margin: 0px 0px !important;
        width: 100% !important;
        padding: 0 !important;

        .resultProduct {
            margin: 12px 0;
            padding-bottom: 4rem;
        }

        .singleFilter {
            border: black solid 3px !important;
            border-radius: 0 !important;
            width: 100% !important;
            padding: 1px 0 1px 6px !important;
            font-size: 1rem;
            background-color: white;
            select{
                background-color: white !important;
                
                option {
                    background-color: white !important;
                    font-size: 0.9rem;
                }
        
            }
        }

    }

    .buttonBlue {
        width: 12em;
        height: 4vh;
        background-color: #324B6A;
        border: black 3px solid;
        box-shadow: black 3px 3px;
        color: azure ;
        letter-spacing: 0.08rem;
        margin-top: 0.4rem;
        padding: 0;
        border-radius: 0 !important;
    }

    .buttonBlue:disabled {
        background-color: rgb(36, 88, 160);
    }

    .buttonBlue:hover {
        background-color: #3a6599;
        box-shadow: rgb(92, 92, 92) 3px 3px;
        border: rgb(92, 92, 92) 3px solid;
    }

    .buttonBlue:after {
        background-color: #5488c7;
    }

    h3 {
        font-size: 3.2rem;
        letter-spacing: .05rem;
    }


    .none {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 26vh;
        justify-content: space-between;
        align-items: center;

        .rowFilters {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 2rem;
            width: 100%;

            .col {
                margin: 1% 0%;

                .singleFilter {
                    border: black solid 3px !important;
                    border-radius: 0 !important;
                    width: 100% !important;
                    padding: 1px 0 1px 6px !important;
                    font-size: 1rem;
                    background-color: white !important;
                    select{
                        background-color: white !important;
                        
                        option {
                            background-color: white !important;
                            font-size: 0.9rem;
                    }}

                    select {
                        outline: 20px;
                        border: black solid 20px;
                        width: 200px;
                    }

                    control {
                        background-color: white !important;
                    }
                }
            }

            option {
                border: black solid 20px;
            }
        }
    }


}